---
import { Image } from 'astro:assets'
import mikeIllustration from '../../assets/mike_illustration.jpeg'
---

<section
  id="about"
  class="prose mx-auto text-lightTurquoise-500 prose-h1:text-lightTurquoise-500"
>
  <div class="flex flex-col items-center justify-center p-4 pt-8">
    <h1 class="font-display text-4xl">Hi, I'm Mike Earley</h1>
    <p class="text-center font-bold tracking-wider">
      I build things for the web.
    </p>
    <p class="text-center tracking-wide">
      I'm a software engineer based in Columbus, Ohio. I specialize in building
      high-quality websites and applications.
    </p>
    <div class="flex items-center justify-center">
      <Image
        src={mikeIllustration}
        alt="Mike Earley Illustration"
        class="outline-3 shadow-border mt-8 h-48 w-48 rounded-full border-2 border-cement-500 object-cover object-center outline-dotted outline-offset-n4 outline-darkBlue-700"
      />
    </div>
  </div>
</section>
