---

---

<section
  id="about"
  class="text-lightTurquoise-500"
>
  <div class="flex flex-col justify-center p-4">
    <h1 class="font-display text-4xl">Hi, I'm Mike Earley</h1>
    <p>I build things for the web.</p>
    <p>
      I'm a software engineer based in Columbus, Ohio. I specialize in building
      high-quality websites and applications.
    </p>
    <div class="flex items-center justify-center">
      <img
        src="mike_illustration.jpeg"
        alt="Mike Illustration"
        class="mt-8 h-48 w-48 rounded-full object-cover object-center"
      />
    </div>
  </div>
</section>
