---
const formActionEndpoint = 'https://www.formbackend.com/f/97e9cee4fc8e52c2'
---

<section
  id="skills"
  class="prose mt-10 flex flex-col items-center justify-center text-lightTurquoise-500 prose-h2:text-lightTurquoise-500"
>
  <h2 class="font-display text-3xl font-bold">Contact Me</h2>
  <form
    method="POST"
    class="grid w-2/3 grid-cols-1 gap-4 md:w-1/2"
    action="{{ formActionEndpoint }}"
    accept-charset="UTF-8"
  >
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="shadow-strong-inner rounded-md"
      required
    />
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="shadow-strong-inner rounded-md"
      required
    />
    <label for="message">Message</label>
    <textarea
      name="message"
      id="message"
      class="shadow-strong-inner rounded-md"
      required
    ></textarea>
    <button
      type="submit"
      class="text-whiteb font-boldr mt-6 rounded-md bg-turquoise-500"
      >Submit</button
    >
  </form>
</section>
