---

---

<section
  id="skills"
  class="prose mt-10 flex flex-col items-center justify-center text-lightTurquoise-500 prose-h2:text-lightTurquoise-500"
>
  <h2 class="font-display text-3xl font-bold">Contact Me</h2>
  <form
    method="POST"
    style="display:grid"
  >
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      required
    />
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      required
    />
    <label for="message">Message</label>
    <textarea
      name="message"
      required
    ></textarea>
    <button type="submit">Submit</button>
  </form>
</section>

<!-- render `contacts` -->
