---
import { Icon } from 'astro-icon/components'
---

<section
  id="skills"
  class="flex flex-col items-center justify-center text-lightTurquoise-500"
>
  <h2 class="font-display text-3xl font-bold">Skills</h2>
  <p class="mx-6 mb-10 mt-5 text-center font-normal leading-relaxed md:w-6/12">
    My technical skillset is ever-evolving, sharpened by a commitment to staying
    current with the latest industry standards and technologies.
  </p>
  <ul class="mx-8 grid grid-flow-row grid-cols-2 gap-x-8 gap-y-6">
    <li class="flex flex-row">
      <Icon
        name="simple-icons:html5"
        class="mr-2 h-8 w-8 text-brickRed-500"
      />
      <span class="font-bold">HTML5</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="simple-icons:css3"
        class="mr-2 h-8 w-8 text-slateBlue-500"
      />
      <span class="font-bold">CSS3</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="simple-icons:javascript"
        class="mr-2 h-8 w-8 text-yellow-500"
      />
      <span class="font-bold">JavaScript</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="simple-icons:typescript"
        class="mr-2 h-8 w-8 text-blue-500"
      />
      <span class="font-bold">TypeScript</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="simple-icons:react"
        class="mr-2 h-8 w-8 text-slateBlue-300"
      />
      <span class="font-bold">React</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="simple-icons:nodedotjs"
        class="mr-2 h-8 w-8 text-mediumGreen-500"
      />
      <span class="font-bold">Node.js</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="simple-icons:tailwindcss"
        class="mr-2 h-8 w-8 text-slateBlue-400"
      />
      <span class="font-bold">Tailwind</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="solar:accessibility-bold"
        class="mr-2 h-8 w-8 text-blue-600"
      />
      <span class="font-bold">Accessibility</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="solar:monitor-smartphone-bold-duotone"
        class="mr-2 h-8 w-8 text-green-500"
      />
      <span class="font-bold">Responsive Design</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="simple-icons:git"
        class="mr-2 h-8 w-8 text-red-500"
      />
      <span class="font-bold">Git</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="simple-icons:astro"
        class="mr-2 h-8 w-8 text-red-500"
      />
      <span class="font-bold">AstroJS</span>
    </li>
    <li class="flex flex-row">
      <Icon
        name="solar:clipboard-check-bold-duotone"
        class="mr-2 h-8 w-8 text-blue-500"
      />
      <span class="font-bold">Testing</span>
    </li>
  </ul>
</section>
