@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
  }
}

@layer components {
  .blue-svg {
    background-image: url('/animated_gradient.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .teal-gradient {
    background-image: linear-gradient(180deg, #257083 0%, #123740 100%);
  }

  .shadow-border {
    box-shadow:
      0 0 0 7px #030029,
      0 0 0 10px #f1f1e6,
      0 14px 16px -2px rgba(244, 244, 235, 0.5),
      0 12px 14px -2px rgba(244, 244, 235, 0.7);
  }
}
