@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
  }
}

@layer components {
  .prose {
    @apply prose;
  }

  .blue-svg {
    background-image: url('/animated_gradient.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
