---
import Layout from '@layouts/BaseLayout.astro'
import About from '@components/astro/About.astro'
import Skills from '@components/astro/Skills.astro'
import staticSvg from '../assets/static_gradient.svg'
import animatedSvg from '../assets/animated_gradient.svg'

const envSvg = import.meta.env.DEV ? staticSvg.src : animatedSvg.src
---

<style>
  .teal-svg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<Layout title="Mike Earley's Portfolio">
  <main
    class="footer-shadow teal-svg"
    style={`background-image: url(${envSvg})`}
  >
    <About />
    <Skills />
  </main>
</Layout>
