---
import Head from './Head.astro'
import Nav from './Nav.astro'
import Footer from './Footer.astro'
import '@fontsource-variable/inter'
import '@fontsource/lilita-one'
import '@fontsource/righteous'

interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="en">
  <Head title={title} />
  <body class="no-js text-lightBlue-500 relative m-0 h-full w-screen p-0">
    <p class="hidden script-none:block">This page requires JavaScript</p>
    <p class="hidden script-initial:block">
      This page requires full JavaScript functionality
    </p>
    <div class="relative hidden script-enabled:block">
      <Nav />
      <slot />
      <Footer class="relative z-0" />
    </div>
    <script>
      document.body.classList.remove('no-js')
      document.body.classList.add('js')
    </script>
  </body>
</html>
