---
import Head from './Head.astro'
import Nav from './Nav.astro'
import Footer from './Footer.astro'
import '@fontsource-variable/inter'

interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="en">
  <Head title={title} />
  <body class="no-js">
    <p class="hidden script-none:block">This page requires JavaScript</p>
    <p class="hidden script-initial:block">
      This page requires full JavaScript functionality
    </p>
    <div class="hidden script-enabled:block">
      <Nav />
      <slot />
      <Footer />
    </div>
    <script>
      document.body.classList.remove('no-js')
      document.body.classList.add('js')
    </script>
  </body>
</html>
