---
import { Icon } from 'astro-icon/components'

const currentYear = new Date().getFullYear()
---

<footer
  class="prose flex w-full max-w-full flex-col items-center justify-center bg-turquoise-700 pb-5 pt-10 text-sm italic text-turquoise-500"
>
  <p class="mb-1 grow">
    Designed and built by <a
      href="https://www.earley.info"
      class="text-lightTurquoise-700 no-underline"
    >
      Mike Earley
      <span>
        using <a
          href="https://astro.build/"
          class="no-underline"
        >
          <Icon
            name="simple-icons:astro"
            class="inline text-white"
          />
          Astro
        </a>
      </span>
    </a>
  </p>

  <p class="mt-1 grow">Copyright &copy; {currentYear}</p>
</footer>
