---
const { title } = Astro.props
---

<head>
  <meta charset="UTF-8" />
  <meta
    name="description"
    content="Mike Earley's Portfolio and Blog"
  />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <link
    rel="stylesheet"
    href="/src/styles/global.css"
  />
  <link
    rel="stylesheet"
    href="https://rsms.me/inter/inter.css"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>{title}</title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  />
</head>
