---
import { MobileMenu } from '@components/qwik/MobileMenu'
import { Icon } from 'astro-icon/components'
---

<nav
  class="teal-gradient bg-turquoise-600 p-4 font-display text-2xl text-darkBlue-700 shadow-lg drop-shadow-lg"
  role="navigation"
>
  <div class="flex justify-between">
    <ul class="hidden md:flex md:space-x-4">
      <li>
        <a
          href="/"
          class="hover:text-paleTaupeBrown-500 block p-2"
          >Home</a
        >
      </li>
      <li>
        <a
          href="#about"
          class="hover:text-paleTaupeBrown-500 block p-2"
          >About</a
        >
      </li>
      <li>
        <a
          href="/contact"
          class="hover:text-paleTaupeBrown-500 block p-2"
          >Contact</a
        >
      </li>
      <li>
        <a
          href="/blog"
          class="hover:text-paleTaupeBrown-500 block p-2"
          >Blog</a
        >
      </li>
    </ul>
    <ul class="hidden md:flex md:space-x-4">
      <li>
        <a
          href="https://github.com/mearleycf"
          class="hover:text-paleTaupeBrown-500 block p-2"
        >
          <Icon name="simple-icons:github" />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/fivestarnumberone/"
          class="hover:text-paleTaupeBrown-500 block p-2"
        >
          <Icon name="simple-icons:linkedin" />
        </a>
      </li>
    </ul>
  </div>
  <MobileMenu />
</nav>
