---
import { Icon } from 'astro-icon/components'
---

<nav class="bg-gray-200 p-4">
  <div class="flex justify-between">
    <ul class="hidden md:flex md:space-x-4">
      <li><a href="/" class="block p-2 hover:bg-gray-700">Home</a></li>
      <li><a href="/about" class="block p-2 hover:bg-gray-700">About</a></li>
      <li>
        <a href="/contact" class="block p-2 hover:bg-gray-700">Contact</a>
      </li>
      <li><a href="/blog" class="block p-2 hover:bg-gray-700">Blog</a></li>
    </ul>
    <ul class="hidden md:flex md:space-x-4">
      <li>
        <a
          href="https://github.com/mearleycf"
          class="block p-2 hover:bg-gray-700"
        >
          <Icon name="simple-icons:github" />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/fivestarnumberone/"
          class="block p-2 hover:bg-gray-700"
        >
          <Icon name="simple-icons:linkedin" />
        </a>
      </li>
    </ul>
  </div>
</nav>
